{% extends 'layout.html.twig' %}

{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}



{% block content %}

    <h2 class="text-center">{{ block('title') }}</h2>
    <div class="form-group">
        <div class="text-center">
            <p></p>
            <a href="/admin"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-menu-left"></span>Retour à la liste des billets</button></a>
        </div>
    </div>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="well">

    <form method="post" action="/admin/article/add" onsubmit="return valider()" name="formSaisie">

        <div class="row">

            <div class="form-group">
                <div class="col-sm-6">
                    <label for="title">Titre :</label>

                    <input type="text" name="title" id=$title >
                    <p></p>
                </div>
            </div>
            <p></p>

            <div class="form-group">
                <div class="col-sm-12">
                <zonetinymce type="textarea" name="content" id=$content ></zonetinymce>

                </div>
            </div>

            <div class="form-group">
                <div class="text-center">
                    <p></p>
                    <input type="submit" class="btn btn-primary" value="Publier le billet" formnovalidate="true"/>
                </div>
            </div>
        </div>
    </form>
    </div>

{% endblock %}