{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="well">
    <form method="post" action="/admin/article/add">

        <div class="row">
            <div class="form-control">
            <div class="input-field col s6">
                <label for="title">Titre :</label>
                <input type="text" name="title" id=$title required>

            </div>
            </div>
            <div class="input-field col s12">
                <textarea type="textarea" name="content" id=$content  required></textarea>
                <label for="content">Contenu :</label>
            </div>
            <input type="submit" class="btn btn-primary" value="Publier l'article" />
        </div>
    </form>
    </div>

    <div class="well">

        <div class="form-group">

            <div class="col-sm-6">
                titre
            </div>

        </div>

        <div class="form-group">

            <div class="col-sm-6">
                contenu
            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-3">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>

    </div>
{% endblock %}