{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    {% for article in articles %}
        <article>
            <h2><a class="articleTitle" href="{{ path('article', { 'id': article.id }) }}">{{ article.title }}</a></h2>
            <p>{{ article.content | truncate (300) |  striptags |raw }}</p>
        </article>
    {% endfor %}
    <p class="scrollToTop">
    <a id="scroll-to-top" class="scroll-to" href="#"><i class="glyphicon glyphicon-chevron-up" style="color: #fecb00 ; font-size: 30px"></i></a>
    </p>

{% endblock %}
