{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>



    <div class="well">

        <div class="form-group">
            <div class="col-sm-5 control-label">

            </div>

            <div class="col-sm-4">

            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5 control-label">

            </div>

            <div class="col-sm-4">

            </div>
        </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5 control-label">

            </div>

            <div class="col-sm-4">

            </div>
        </div>
        </div>
        <div class="form-group" hidden>
            <div class="col-sm-5 control-label">

            </div>

            <div class="col-sm-4">

            </div>
        </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-3">
                <a href="{{ path('admin') }}#users" class="btn btn-danger">Annuler</a>
                <input type="submit" class="btn btn-primary" value="Enregistrer" />
            </div>
        </div>

    </div>
{% endblock %}