body {
    padding-top: 50px;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.articleTitle:hover, .articleTitle:focus {
    text-decoration: none;
}


.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

textarea        {
    width:50% ;
    height:150px;

}

.intro-header {
    background-image: url(../images/railroad.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
}


.site-heading {
    color: white;
    text-align: center;
}

.scrollToTop {
    position: fixed;
    bottom: 10px;
    right: 20px;
}

